<div class="banner rel fill-w f">
    <div class="tagline-container f jcc aic">
        <div class="slogan">
            <h1 class="title white bold">{{'homepage.sections.hero.title_l1' | t}} <br> {{'homepage.sections.hero.title_l2' | t}}</h1>
            <p class="white">{{'homepage.sections.hero.text' | t}}</p>
        </div>
    </div>
    <div class="product-image-container pt2 f jcc">
        <img class="product-image" src="{{ 'KnobCreek.png' | asset_url }}" alt="{{ shop.name }}"/>
    </div>
</div>