<div class="hero rel fill-w f">
    <div class="hero__tagline-container f jcc aic">
        <div class="hero__tagline">
            <h1 class="hero__title white bold">{{'homepage.sections.hero.title_l1' | t}} <br> {{'homepage.sections.hero.title_l2' | t}}</h1>
            <p class="hero__text white">{{'homepage.sections.hero.text' | t}}</p>
        </div>
    </div>
    <div class="hero__bottle-image-container pt2 f jcc">
        <img class="hero__bottle-image" src="{{ 'KnobCreek.png' | asset_url }}" alt="{{ shop.name }}"/>
    </div>
</div>